USE [master]
GO
/****** Object:  Database [MergeBatch]    Script Date: 04/28/2013 14:20:23 ******/
CREATE DATABASE [MergeBatch] ON  PRIMARY 
( NAME = N'MergeBatch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MergeBatch.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MergeBatch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MergeBatch_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MergeBatch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MergeBatch]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 04/28/2013 14:20:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[YearsExperience] [int] NOT NULL,
	[CVPath] [varchar](350) NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON
INSERT [dbo].[Candidates] ([CandidateID], [FirstName], [MiddleName], [LastName], [YearsExperience], [CVPath]) VALUES (4, N'Namee', N'Namee2', N'Namee3', 5, N'path')
INSERT [dbo].[Candidates] ([CandidateID], [FirstName], [MiddleName], [LastName], [YearsExperience], [CVPath]) VALUES (5, N'Namee', N'Namee2', N'Namee3', 5, N'path')
SET IDENTITY_INSERT [dbo].[Candidates] OFF
