<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SciTechManagement.Properties.Settings.InventoryConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Inventory.accdb" providerName="System.Data.OleDb"/>
        <add name="SciTechManagement.Properties.Settings.InventoryConnectionString1" connectionString="Data Source=.\sqlexpress;Initial Catalog=Inventory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
